useDynLib(graCRR, .registration = TRUE)

importFrom(mnormt, rmnorm)
import(glmnet)
importFrom(stats, lm, predict, rnorm, rt, runif, rbinom, quantile, qnorm, pnorm)
importFrom(flare, sugm)

export(Data_simu)
export(debias_lap)
export(ebic.Lfabs)
export(infer_boot)
export(infer_norm)
export(Lfabs)